body {
    background-color: #eeeeee;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.mainWindow {
    background-color: white;
    height:75vh;
    width:75vh;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-style: solid;
    border-width: 4vh;
    border-color: #b0b0b0;
    border-radius: 2vh;
}

img#logo{
    height:25%;
    position:absolute;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left:50%;
    margin-top: 6vh;
    margin-bottom: 4vh;
}
.pad {
    position:absolute;
    border-style:solid;
    border-width:0px;
    border-radius:1vh;
    cursor:pointer;
    opacity: 0;
}

.data {
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: white;
    color: #242525;
    text-align: center;
    font-size:8vh;
}
.button {
    height: 12.5%;
    width: 50%;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    text-align: center;
    vertical-align: middle;
    border-style:solid;
    border-width:0px;
    border-radius:1vh;
    cursor:pointer;
}
span.buttonText {
    color: #242525;
    width:100%;
    font-size:2.75vh;
    position:absolute;
    top:50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

div#countdown {
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    font-size:12vh;
}

.titleText {
    white-space: nowrap;
    font-size: 5vh;
    margin-top:5%;
    position:absolute;
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    left:50%;
}