body {
    background-color: #eeeeee;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.mainWindow {
    background-color: white;
    height:75vh;
    width:75vh;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-style: solid;
    border-width: 8vh 4vh 4vh 4vh;
    border-color: #b0b0b0;
    border-radius: 2vh;
}

img#logo{
    height:25%;
    position:absolute;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left:50%;
    margin-top: 6vh;
    margin-bottom: 4vh;
}
.instruction {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 50%;
    width: 90%;
    opacity: 0;
}
.pad {
    position:absolute;
    border-style:solid;
    border-width:0px;
    border-radius:1vh;
    cursor:pointer;
    opacity: 0;
}

.data {
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: transparent;
    color: #242525;
    text-align: center;
    font-size:8vh;
}
.button {
    height: 12.5%;
    width: 50%;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    text-align: center;
    vertical-align: middle;
    border-style:solid;
    border-width:0px;
    border-radius:1vh;
    cursor:pointer;
}
span.buttonText {
    color: #242525;
    width:100%;
    font-size:2.75vh;
    position:absolute;
    top:50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

div#countdown {
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    font-size:12vh;
}

.titleText {
    white-space: nowrap;
    font-size: 5vh;
    margin-top:5%;
    position:absolute;
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    left:50%;
}

#nBackTopFrame {
    width: 100%;
    height: 80%;
    //background-color: red;
}

#nBackBottomFrame {
    width: 100%;
    height: 20%;
    top: 80%;
    padding-left: 3.75%;
    //background-color: blue;
}

.imageShapeDiv {
    position:absolute;
    margin-top: 3.75%;
    background-color: transparent;
    border-style:solid;
    border-width:0px;
    border-radius:1vh;
    cursor:pointer;
}

.imageShape {
    width: 80%;
    height: 80%;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    top: 50%;
}

.currShape {
    position: absolute;
    width: 100%;
    height: 50%;
    top:20%;
}

.gameInfo {
    position: absolute;
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    left:50%;
    top:6.5%;
    //background-color: black;
    height: 8vh;
    width: 75vh;
}

#timeRemaining {
    position:absolute;
    top:50%;
    -ms-transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    font-size:6vh;
}

#levelChooser {
    height:30%;
    width:15%;
    position:absolute;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:87.5%;
    top: 60%;
}

#levelNum {
    color: #242525;
    font-size:5vh;
    position:absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.arrow {
    width:60%;
    position:absolute;
    left:50%;
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    cursor: pointer;
}

.arrowSelected {
    width:60%;
    position:absolute;
    left:50%;
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    cursor: pointer;
}

.rotated {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom:0%;
    left:20%;
}